* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(.//Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(.//Roboto/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 1920px;
    height: 700px;
    background-color: #EEEFF1;
}

.header-menu {
    margin-left: 399px;
    padding-top: 79px;
}

.one {
    font-family: 'Roboto-Medium', sans-serif;
    font-style: normal;
    color: #34547A;
}

.header-menu-nav-list-item {
    margin-right: 42px;
    color: #000000;
}

.header-one {
    width: 541px;
    height: 45px;
    margin-left: 399px;
    margin-top: 162px;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 48px;
}

.text {
    width: 540px;
    height: 67px;
    margin-left: 399px;
    margin-top: 60px;
}

.link {
    border-width: 3px;
    border-style: groove;
    border-color: #34547A;
    background-color: #34547A;
    width: 225px;
    height: 65px;
    margin-left: 399px;
    margin-top: 65px;
    text-align: center;
}

.link-text {
    color: white;
}