* {
    text-decoration: none;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.total {
    padding-left: 400px;
}

header {
    width: 1920px;
    background-color: #EEEFF1;
    padding-top: 79px;
    padding-bottom: 141px;
}

.header-nav {
    margin-bottom: 162px;
}

.header-nav-list-item {
    margin-right: 42px;
}

.header-nav-list-item-link {
    color: #000000;
}

.header-one {
    width: 541px;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 60px;
}

.text {
    width: 540px;
    line-height: 26px;
}

.block-two {
    margin-bottom: 65px;
}

.button-link {
    display:inline-block;
    color: white;
    background-color: #34547A;
    text-align: center;
    padding: 20px;
}

.about_me {
    padding-top: 112px;
}

.header_me {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    margin-left: 760px;
    width: 403px;
    text-align: center;
}

.text_me {
    width: 540px;
    margin-left: 690px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 100px;
}

.container {
    background-color: #34547A;
    width: 1920px;
    color: white;
}

.container-list {
    text-align: center;
}